{
  "extends": ["plugin:@next/next/recommended", "eslint:recommended", "plugin:@typescript-eslint/recommended", "airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["next/babel"]
    },
    "project": "./tsconfig.json"
  },
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "react/react-in-jsx-scope": 0,
      "react/jsx-props-no-spreading": 0,
      "no-console": 0,
      "@typescript-eslint/space-infix-ops": 0
  }
}
